body {
	background-color: #0A24A9;
}
img {
	width: 100%;
	max-width: 1300px;
	position: fixed;
	left: 0;
}
#p6hiDiv {
	border-radius: 50%;
	height: 100px;
	width: 100px;
	position: fixed;
	left: 350px;
	top: 250px;
}
.ring {
	border-radius: 50px;
}
div:nth-child(1) {
    background: white;
	height: 100%;
	width: 100%;
	border: 1px solid blue;
}
div:nth-child(2) {
    background: red;
	height: 90%;
	width: 90%;
	border: 1px solid blue;
}
div:nth-child(3) {
    background: white;
	height: 70%;
	width: 70%;
	border: 1px solid blue;
}
div:nth-child(4) {
    background: red;
	height: 50%;
	width: 50%;
	border: 1px solid blue;
}
div:nth-child(5) {
    background: white;
	height: 30%;
	width: 30%;
	border: 1px solid blue;
}
div:nth-child(6) {
    background: red;
	height: 10%;
	width: 10%;
	border: 1px solid blue;
}